<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>预约系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="__CSS__/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="__CSS__/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="__CSS__/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="__CSS__/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"></a>
            </div>

            <div class="header-right">

             
                <a href="__ROOT__/index.php/index/index" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="__IMG__/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                {$teacher_id}
                            <br />
                                <small>欢迎登录 </small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a  href="publish.html"><i class="fa fa-dashboard "></i>发布预约</a>
                    </li>
                    <li>
                        <a href="manager.html"><i class="fa fa-flash "></i>修改预约 </a>
                        
                    </li>
                   
                    <li>
                        <a href="suggestion.html"><i class="fa fa-bug "></i>查看建议</a>
                    </li>
                    <li>
                        <a class="active-menu" href="ranking_list.html"><i class="fa fa-square-o "></i>查询排行</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">查询意见</h1>
                        <h1 class="page-subhead-line">老师可以看到学生对自己的意见</h1>

                    </div>
                </div>
                <!-- /. ROW  -->
                 <table height=600 width=600 background=__IMG__/2.png border=0 align="center">
            	<tbody>
            	<tr>
        	<td>                          
                <table class="goaler" style="border:solid 1px black"border="1" align="center">
                	<tbody>
                		<tr>
                            <th style="width:600px;text-align:center;">意见</th>
                        </tr>
                         {volist name="list" id="vo"}        
                        	<tr>                  
                            	<td>
                            		{$vo['comment_id']}&nbsp;&nbsp;
                            		{$vo['time']}&nbsp;&nbsp;
                            		{$vo['content']}
                            	</td>
                        	</tr>
                        {/volist}
                 </tbody></table>
                 <h5 align="center"><input type="submit" name="btn_find" value="查询" id="btn_find" class="buttom"></h5>  

		</tbody></table></td></tr>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->


</body>
</html>
