<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校园预约系统</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="__ROOT__/public/static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="__CSS__/font-awesome.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body style="background-color: #E2E2E2;">
    <div class="container">
        <div class="row text-center " style="padding-top:100px;">
            <div class="col-md-12">
                <img src="__IMG__/logo-invoice.png" />
            </div>
        </div>
         <div class="row ">
               
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                           
                            <div class="panel-body">
                                <form role="form" action="" method="post">
                                    <hr />
                                    <h5>登录系统</h5>
                                       <br />
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                            <input type="text" name="user" class="form-control" placeholder="Your Username " />
                                        </div>
                                            <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" name="password" class="form-control"  placeholder="Your Password" />
                                        </div>
                                    <div class="form-group">
			                                    	<center>
			                                    				<label><input type="radio" name="identype" value="student" />学生</label>
			                                    				&nbsp;&nbsp;
						                                			<label><input type="radio" name="identype" value="teacher" />教师</label>
						                                			&nbsp;&nbsp;
						                                			<!--<label><input type="radio" name="identype" value="admin" />管理员</label>-->
			                                    	</center>
                                    				
                                    				</br>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" /> 记住用户
                                            </label>
                                            
                             
                                        </div>
                                     <input name="ok" type="submit" value="Login Now">
                                    
                                    <hr />
                                    	未注册? <a href="__ROOT__/index.php/index/index/sign" >点击 </a>
                                </form>
                            </div>
                           
                        </div>
                    
        </div>
    </div>

</body>
</html>
